
body {
    text-align: center;
    background: #FAFAFA;
    margin: 0 30px 100px 30px;
    font: 14px/18px 'Lucida Grande', 'Segoe UI', sans-serif;
}

h1 {
    font: bold 30px Roboto, "Helvetica-Neue", Helvetica, sans-serif;
    margin: 0;
    margin-top: 5px;
    color: #FA0044;
}

canvas {
    display: block;
    max-width: 800px;
    background: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 10px auto;
    border: 1px solid rgba(0,0,0,0.1);
}

a {
    color: black;
}

div {
    margin: 5px auto;
    text-align: left;
    max-width: 800px;
}

ul {
    margin: 0;
}

.error {
    display: block;
    color: red;
    font-size: 28px;
    line-height: 30px;
    padding: 30px;
}

p {
    margin: 30px 0;
    line-height: 20px;
}

.center {
    text-align: center;
}

textarea {
    display: none;
    width: 75%;
    height: 400px;
    margin: 0 auto;
}

.toolbox li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin-left: 16px;
}
.toolbox li input {
    width: 80px;
    font-size: 20px;
    color: #0057FA;
    background-color: #FCFCFC;
}
.toolbox li input:disabled {
    background-color: #F4F4F4;
    color: #BCBCBC;
}
.toolbox li input:focus {
    background-color: white;
    color: #003BE6;
}

.radius_li:before, .height_li:before, .width_li:before {
    content: ' ';
    display: inline-block;
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 100%;
    margin-top: 4px;
    margin-right: -3px;
}

.radius_li:before {
    background-image: url(images/radius.svg);
}

.width_li:before {
    background-image: url(images/width.svg);
}

.height_li:before {
    background-image: url(images/height.svg);
}

.dropdown-inner {
    background: #F7F7F7;
    top: 0px;
    position: absolute;
    opacity: 0;
    display: none;
    padding: 0;
}

.dropdown-inner.active {
    display: block;
    opacity: 1;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 3000;
}

.dropdown-inner li {
    float:  left;
    clear: both;
    position: relative;
    padding: 0;
    padding-left:10px;
    padding-right:10px;
    width: 100%;
}
.dropdown-inner li, .dropdown-inner li a {
    color: #91959B;
}
.dropdown-inner li {
    cursor: pointer;
}

.dropdown-inner li a.active {
    color: black;
}
.dropdown-inner li:hover, .dropdown-inner li:active {
    background: #105EBE;
    border-bottom: 1px solid rgba(13, 79, 161, 0.2);
    border-top: 1px solid rgba(13, 79, 161, 0.2);
}
.dropdown-inner li a:hover, .dropdown-inner li a:active {
    color: #fff;
}
